SUPABASE_URL=
SUPABASE_ANON_KEY=
GROQ_API_KEY=
LLM_MODEL=llama-3.3-70b-versatile
LLM_BASE_URL=https://api.groq.com/openai/v1
XIMILAR_API_TOKEN=
XIMILAR_BASE_URL=https://api.ximilar.com
SUPABASE_ENVIRONMENT_IMAGES_BUCKET=environment-images-private
SUPABASE_MEAL_IMAGES_BUCKET=meal-images-private
SUPABASE_BODY_PROGRESS_IMAGES_BUCKET=body-progress-images-private
NODE_ENV=
APP_TIME_ZONE=America/Bogota
